<div class="content">
    <div class="left-side">
        <div class="image">
            <img class="logo" mat-card-image src="assets/janus-automation-psd.png" alt="Logo" />
        </div>

        <!--<div class="image">
                <img class="logo" mat-card-image src="assets/janus-automation-psd.png" alt="Logo" />
            </div> -->

    </div>

    <mat-divider vertical></mat-divider>

    <div class="right-side">
        <mat-card class="pill-group">

            <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

            <div class="header">
                <img class="logoJanus" src="assets/janus-automation-logo.png" alt="Logo" />
                <h2>Welcome back!</h2>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username" required />
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" required />
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" class="full-width">Login</button>
            </form>
        </mat-card>
    </div>
</div>


